/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

/* shared styles */
.bg-pink{
    background-color: #fff4e7;
}
.dark-02{
    color: #424242;
}
.display-flex{
    display: flex;
}

/* main style */
/* nav styles */
nav{
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-size: 2.8rem;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 1.1rem;
    font-weight: 500px;

}
nav ul a{
    text-decoration: none;
    color: #424242;
}
.banner-container{
    display: flex;
    justify-content: center;
}
.banner-title{
    text-align: center;
    max-width: 862px;
    border: 1px solid black;
}
.banner-title h1{
    font-size: 4rem;
    max-width: 60%;
}